<a href="https://colab.research.google.com/github/chiou99/-/blob/master/1091031.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#/usr/bin/python3 #unix,
print("okok1")
print('okok2\n hello\n world\n')
"""
fff
ppp
jj
"""

okok1
okok2
 hello
 world

'\nfff\nppp\njj\n'

In [23]:
x=5
y='hohn'
print(x,y)
x='hello'
print(x)
a=2
b=3.4
print(a)
a=b=c='hello'
print(c)
d=a+b+c
print(d)
x=5
y="john"
print(" "+y)

5 hohn
hello
2
hello
hellohellohello
 john

In [56]:
import random
x=3.4j
print(type(x))
x=['a','b','cc']
print(type(x))
x=('a','b','c')
print(type(x))
x={'a','a','b'}
print(type(x))
x=b"hello"
print(type(x))
x=str('hello')
x=list(("a","b",'c'))
a=range(6)
print(a)
b=list(range(6))
print(b)
c=bool(0)
print(c)
e=3.4e2
print(e)
y=2.8
x=int(y)
print(x)

<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'bytes'>
range(0, 6)
[0, 1, 2, 3, 4, 5]
False
340.0
2

In [69]:
import random
print(random.randrange(0,10))
print(random.random())

5
0.22911971806568276

In [108]:
z=int('90')
print(z)
a="""fufufufufuf\n
kokoook\t
lpplpl\t
"""
print(a)
a="hello"
print(a[3:5])
print(a[-5:-1])
print(len(a))
a="HELLO".lower().upper().replace('E','q').split('L')
print(a)
age=36
a="helo {1} {0}"
print(a.format(age,age))
a="hello 'world' hello world"
print(a)
a=3
b=2
if a>b:
  print('a>b')
  print("okok")
else:
  print('a<b')
  print("nono")
print(bool(1))

90
fufufufufuf

kokoook
lpplpl

lo
hell
5
['Hq', '', 'O']
helo 36 36
hello 'world' hello world
a>b
okok
True

In [113]:
x=-20
y=3
print(x**y)
print(x//y)
x=5
y=x & 3
print(x)

-8000
-7
5

In [124]:

a=['a',1,'b',3]
print(a[0],a[1])
b=('a',3,'b',3.14)
print(b[2],b[3])
a[2]=4
print(a)
c={'a',1,2,3,'a','b'}
print(c)

a 1
b 3.14
['a', 1, 4, 3]
{1, 2, 3, 'b', 'a'}

In [137]:

print(thislist[:4])
print(thislist[2:])
print(thislist[-4:-1])

if "apple" in thislist:
  print("in")
else:
  print("no")
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
for x in thislist:
  print(x+'\n')
thislist.append("hello")

['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']
in
apple

banana

cherry

orange

kiwi

melon

mango

In [151]:
a=[0,1,"2",3,4,5]
print(a)
b=(0,1,2,3,4,5)
a.clear()
print(a)
a=[1,"2",3]
b=[4,5,6]
c=a+b
print(c)

[0, 1, '2', 3, 4, 5]
[]
[1, '2', 3, 4, 5, 6]

In [160]:
a=(1,2,4.4)

print(a.count(4))

0

In [165]:
tuple1=("a","b","c")
tuple2=(1,2,3)
tuple3=tuple1+tuple2
print(tuple3)
print(tuple3.index('c'))
a={1,2,3,4,5}
a.add('7')
print(a)
print(len(a))
b=a.pop()
print(a.pop)
print(a)

('a', 'b', 'c', 1, 2, 3)
2
{1, 2, 3, 4, 5, '7'}
6
<built-in method pop of set object at 0x7fa746544828>
{2, 3, 4, 5, '7'}

In [199]:
dict1={
    'a':1,
    'b':2,
    3:'c',
    4:'d'
}
dict1.clear()
print(dict1)
print(type(dict1))

{}
<class 'dict'>

In [202]:
dict1={
    'a':1,
    'b':2
}
dict2={
    'c':dict1,
    'd':dict1
}
dict3={
    '1':dict1,
    '2':dict2
}
print(dict3['1'])

{'a': 1, 'b': 2}

In [214]:
a=332
b=2
if a>b:
  pass
elif a<b:
  print("<")
else:
  print("=")
c=['a','b','d']
for x in c:print(x)

a
b
d

In [222]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print(">=6")

1
2
3
4
5
>=6

In [235]:
for x in range(6):
  print(x)
  pass
else:
  print(">=6")

0
1
2
3
4
5
>=6